/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: blueviolet;
}

/* classes */
.paragrafo {
    background-color: black;
    color: aqua;
    padding: 10px;
}

/* ids */
#exclusive-title {
    background-color: violet;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

#algum-titulo {
    color: green;
    border-bottom: 1px solid yellow;
}

.titulo {
    color: yellow;
    border-bottom: 1px solid blue;
}

h2 {
    border-bottom: 1px solid red;
}

/*Nome das Cores*/
.color-name {
    color: crimson;
}

.color-hex {
    color: #1a4b3c;
}

.rgb {
    color: rgb(255, 00, 00);
}

.mixed-rgb {
    color: rgb(145, 1, 78);
}

.rgba {
    color: rgba(100, 199, 40, 0.3);
}

/* HSL */
.hsl {
    color: hsl(201, 74%, 48%);
}

/* BG */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(255, 00, 00);
    color: white;
}

/* BG Opacity */
.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    opacity: #000;
}

/* BG Image */
.bg-img {
    background-image: url("../img/canada-flag.png");
}

/* Centralização de Imagem */
.not-centered-bg,
.centered-bg {
    width: 400px;
    height: 400px;
    background-image: url("../img/canada-flag.png");
}

.centered-bg {
    background-image: center;
    background-size: cover;
}

/* Largura e Altura */
.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2 {
    height: 300px;
    background-color: black;
}

/* Padding */
.without-padding {
    background-color: blue;
    color: #fff;
}

.padding {
    background-color: #999;
    padding: 20px;
    color: fff;
}