/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: blueviolet;
}

/* classes */
.paragrafo {
    background-color: black;
    color: aqua;
    padding: 10px;
}

/* ids */
#exclusive-title {
    background-color: violet;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

#algum-titulo {
    color: green;
    border-bottom: 1px solid yellow;
}

.titulo {
    color: yellow;
    border-bottom: 1px solid blue;
}

h2 {
    border-bottom: 1px solid red;
}

/*Nome das Cores*/
.color-name {
    color: crimson;
}

.color-hex {
    color: #1a4b3c;
}

.rgb {
    color: rgb(255, 00, 00);
}

.mixed-rgb {
    color: rgb(145, 1, 78);
}

.rgba {
    color: rgba(100, 199, 40, 0.3);
}

/* HSL */
.hsl {
    color: hsl(201, 74%, 48%);
}

/* BG */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(255, 00, 00);
    color: white;
}

/* BG Opacity */
.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    opacity: #000;
}