/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: blueviolet;
}

/* classes */
.paragrafo {
    background-color: black;
    color: aqua;
    padding: 10px;
}

/* ids */
#exclusive-title {
    background-color: violet;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}