/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: blueviolet;
}

/* classes */
.paragrafo {
    background-color: black;
    color: aqua;
    padding: 10px;
}

/* ids */
#exclusive-title {
    background-color: violet;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

#algum-titulo {
    color: green;
    border-bottom: 1px solid yellow;
}

.titulo {
    color: yellow;
    border-bottom: 1px solid blue;
}

h2 {
    border-bottom: 1px solid red;
}

/*Nome das Cores*/
.color-name {
    color: crimson;
}

.color-hex {
    color: #1a4b3c;
}

.rgb {
    color: rgb(255, 00, 00);
}

.mixed-rgb {
    color: rgb(145, 1, 78);
}

.rgba {
    color: rgba(100, 199, 40, 0.3);
}

/* HSL */
.hsl {
    color: hsl(201, 74%, 48%);
}

/* BG */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(255, 00, 00);
    color: white;
}

/* BG Opacity */
.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    opacity: #000;
}

/* BG Image */
.bg-img {
    background-image: url("../img/canada-flag.png");
}

/* Centralização de Imagem */
.not-centered-bg,
.centered-bg {
    width: 400px;
    height: 400px;
    background-image: url("../img/canada-flag.png");
}

.centered-bg {
    background-image: center;
    background-size: cover;
}

/* Largura e Altura */
.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2 {
    height: 300px;
    background-color: black;
}

/* Padding */
.without-padding {
    background-color: blue;
    color: #fff;
}

.padding {
    background-color: #999;
    padding: 20px;
    color: fff;
}

/* Padding Individual */
.padding-individual {
    padding-left: 45px;
    padding-top: 80px;
    padding-right: 25px;
    padding-left: 45px;
    background-color: violet;
}

/* Shorthand padding */
.shorthand-padding {
    padding: 100px 12px 100px 14px;
    background-color: aqua;
}

.shorthand-padding-2 {
    background-color: #555;
    padding: 10px 20px;
    color: white;
}

/* Padding com Width */
.without-border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #666;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */
.border {
    border: 5px solid red;
    color: #000;
}

.border-2 {
    border: 2px dotted green;
    padding: 50px;
}

/* Borda Individual */
/*  */
.border-left {
    border: 3px solid red;
}

.border-bottom {
    border: 5px double #399;
}

/* Border Radius */
.border-radius {
    padding: 50px;
    background-color: #000;
    border-radius: 35px;
}

/* Margem */
.margin {
    margin: 15px;
    background-color: purple;
}

.margin-top {
    margin-top: 200px;
    background-color: violet padding;
    padding: 10px;
}

.margin-shorthan {
    background-color: yellow;
    margin: 50px 15px 50px 15px;
}

/* Box Model */
.box-model {
    margin: 55px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 200px;
    height: 100px;
}

/* Text Alignment */

.text-aligned {
    text-align: right;
}

.containeir-center {
    text-align: center;
    width: 300px;
    border: 5px solid red;
}

/* Texto decorado */
.text-underline {
    text-decoration: underline;
}

/* Texto Transoformado */
.text-transform {
    text-transform: uppercase;
}